    @model List<ToDoList.Models.Item>;
        
    <h1>To Do List</h1>
    <ul>
        @foreach(var item in Model)
        {
            <li>@Html.DisplayFor(currentItemDescription => item.Description)
                | @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) 
                | @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
            </li>
            <p>@Html.ActionLink($"See Details for \"{item.Description}\"", "Details", new { id = item.ItemId })</p>
        }
    </ul>
    <p>@Html.ActionLink("Add new item", "Create")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>